/*organize styling top to bottom tags/classes/id's
tags styling here*/
body{
    position: relative;
    background-color: #fff;
    width: auto;
    margin: 0;
    font-family: sans-serif

}
header{
    height: 190px;
    background-color: gray

}
section{
    margin: 0;
    display: block;/*<!--placing sections in block-->*/
    width: 100%;
}
img{
    width: 100%;
    margin: 0;


}
p{
 line-height: 200%;
 font-weight: 600;

}
footer{
    float: right;
    width: 100%;
    background-color:

}
/*class styling starts here
as many as you like*/
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;


}
.gnomeh{
    width: 30%;
}
.gnomeh p{
    font-family:sans ;
    font-size: 3em;
    color: darkgoldenrod;

}
.gnometxt{
    float: left;
    width: 100%;
}

.extra {

    float: right;
    width: 30%;
}
.btn{
   -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 3px;
    color: #3487f7;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cverimge{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(assets/big_img.jpg);
    background-size: cover;


}

.pictxt{
    position: absolute;
    top: 10px;
    width: 200px;

}
.columns{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #FFF;
    padding-left: px;


}
.image img{
    position: relative;
    width: 90px;
    padding-left: 75px;

}
.image p{
    text-align: center
}
.iphtxt{
    float: left;
     width: 50%;
     text-align: center;
}
.iphimg{
    float: left;
    width:50%;
}
.shoepic{
    float: left;
    width: 50%;
}
.shoetxt{
    text-align: center;
    float: left;
    width: 50%;
}
.shoetxt p{
    padding-left: 40px;
}
.adz{
    height: 100px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*id styling comes here
dont mess up*/
#gnome{


    display: block;


}
#coverpic{
    position: relative;

}
#post-heading{
    position: relative;
    margin-left: 10px;
}
#post-heading h3{
    padding-left: 20px;

}
#editables{
    position: relative;

}
#editables h2{
    padding-left: 65px;
}
#iphonepic{
    position: relative;

}
#shoes{
    position: relative;
    float: right;

}
#ad{
    float: right;
    position: relative;

}
#rcontent{
    position: relative;
    float: right;

}

